<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>CallMe</title>
    <link rel="stylesheet" href="./css/index.css" />

    <script src="../assets/vue/vue@3.5.13.global.js"></script>
    <script src="../assets/vue/vue-router@4.5.0.global.js"></script>
    <script src="../assets/vue/element-plus@2.9.7.js"></script>
    <script src="../assets/vue/vant@4.min.js"></script>
    <script src="./js/md5.js"></script>
    <script src="./js/lz-string.min.js"></script>
    <script src="./js/qrcode.js"></script>
    <script src="./js/global.js"></script>

    <script>
      var _hmt = _hmt || [];
      (function () {
        var hm = document.createElement("script");
        hm.src = "https://hm.baidu.com/hm.js?ac96bc433c6e40a53e1cf5f02d1e4721";
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(hm, s);
      })();
    </script>
  </head>

  <body>
    <div id="app"></div>
    <!-- Home 组件 -->
    <script type="text/html" id="homeTemplate">
      <div class="app-main">
        <div class="header">
          <p>Header</p>
        </div>
        <div class="layout">
          <div class="menu">
            <div v-for="(item, index) in menuList" :key="index">
              <div class="menu-item">
                <router-link :to="item.path"> {{item.meta.title}} </router-link>
              </div>
            </div>
          </div>
          <div class="container">
            <div class="nav">Nav</div>
            <div class="content">
              <router-view v-slot="{ Component }">
                <keep-alive :include="cachedComponents">
                  <transition name="fade" mode="out-in">
                    <component :is="Component" />
                  </transition>
                </keep-alive>
              </router-view>
            </div>
            <div class="footer">Footer</div>
          </div>
        </div>
      </div>
    </script>
    <!-- 组件 -->
    <script type="text/html" id="mainTemplate">
      <div class="main-content">
        <div>主页</div>
        <div>222</div>
        <div>333</div>
      </div>
    </script>
    <script type="text/html" id="contactTemplate">
      <p>联系组件</p>
    </script>
    <script type="text/html" id="detailTemplate">
      <div>详情</div>
    </script>
    <script type="text/html" id="testTemplate">
      <p>22测试组件</p>
    </script>
    <script type="text/html" id="demoTemplate">
      <p>Demo组件</p>
    </script>
    <!-- 全屏组件 -->
    <script type="text/html" id="qrcodeTemplate">
      <div class="callme">
        <div v-if="viewData.gen!=='hidden'" class="head flex-between">
          <div @click="onClickMe" class="logo">CallMe</div>
          <el-button type="primary" link @click="onOpen"> 生成二维码 </el-button>
        </div>
        <div class="content">
          <!-- 介绍 -->
          <div v-if="!isPrevew" class="introduce">
            <h3 class="title">欢迎使用CallMe</h3>
            <div class="list-wrap">
              <div class="list-title">
                CallMe是一个扫码拨打电话的快捷应用, 通过点击右上角"生成二维码"按钮, 填写需要展示的内容生成二维码, 然后使用微信扫码,
                即可查看内容并提示您是否拨打电话。它具备以下功能:
              </div>
              <div v-for="(item, index) in descList" class="list-item" :key="index">{{item}}</div>
            </div>
            <div class="content">
              <div class="ui-ta-c mt20">
                <img style="width:75%" :src="callme" alt="邀请二维码" />
              </div>
              <div class="ui-ta-c">(长按保存·分享)</div>
              <div class="ui-ta-c mt20">
                <img style="width:75%" :src="wechat" alt="添加二维码" />
              </div>
              <div class="ui-ta-c">(添加微信 获取邀请码)</div>
            </div>
            <p class="author">Hailen {{currentData}}</p>
          </div>
          <!-- 预览 -->
          <div v-else class="preview">
            <h3 class="ui-ta-c">{{viewData.title}}</h3>
            <div class="detail">{{viewData.content}}</div>
            <p class="date">{{viewData.name}} {{viewData.date}}</p>
            <div class="call">
              <a ref="callRef" :href="'tel:' + viewData.phone" class="call-btn">直接呼叫</a>
            </div>
          </div>
          <div class="footer">
            <span>如有疑问, 请添加微信<b>@Hailen</b>咨询 </span>
            <span class="no-wrap">或搜索视频号<b>Hailen108</b>, 在评论区留言反馈</span>
          </div>
        </div>
      </div>
      <!-- 弹窗 -->
      <van-overlay :show="visible" @click="visible = false">
        <div class="layer">
          <div class="layer-wrap" @click.stop>
            <div class="layer-head flex-between">
              <div></div>
              <div>生成二维码</div>
              <div class="layer-close" @click="visible = false">×</div>
            </div>
            <div class="layer-body">
              <van-form label-width="52px">
                <van-cell-group inset>
                  <template v-for="(item, index) in formItems" :key="index">
                    <vant-date-picker
                      v-if="item.type === 'date'"
                      v-model="formData[item.prop]"
                      :label="item.label"
                      :placeholder="item.placeholder"
                      :format="item.format"
                      :required="item.required"
                      :columnsType="item.columnsType"
                    />
                    <vant-upload
                      v-else-if="item.type === 'upload'"
                      v-model="formData[item.prop]"
                      :label="item.label"
                      :name="item.prop"
                      :maxSize="item.maxSize"
                      :maxCount="item.maxCount"
                      :accept="item.accept"
                      :disabled="item.disabled"
                      :required="item.required"
                      :placeholder="item.placeholder"
                      :multiple="item.multiple"
                    />
                    <van-field
                      v-else
                      v-model="formData[item.prop]"
                      :name="item.prop"
                      :type="item.type"
                      :label="item.label"
                      :rows="item.rows"
                      :required="item.required"
                      :clearable="true"
                      :maxlength="item.maxlength"
                      :placeholder="item.placeholder"
                    />
                  </template>
                </van-cell-group>

                <div style="margin: 16px;" class="flex-center">
                  <van-button size="small" type="primary" @click="onSubmit"> 提交生成 </van-button>
                  <van-button size="small" @click="onReset" style="margin-left: 15px;"> 清空 </van-button>
                </div>
              </van-form>
              <div v-if="codeImg" class="qrcode-box">
                <img :src="codeImg" class="code-img" alt="二维码" />
                <div class="mt10 ui-ta-c">
                  <div v-if="isWechat" class="press-code">(长按二维码保存)</div>
                  <van-button v-else type="primary" size="small" @click="onDownload">下载二维码</van-button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </van-overlay>
    </script>
    <script type="module" src="./src/main.js"></script>
  </body>
</html>
