body,
html {
    margin: 0;
    padding: 0;
    display: flex;
    width: 100%;
    height: 100%;
}

.mb15 {
    margin-bottom: 15px;
}

.mt20 {
    margin-top: 20px;
}

.label-colon::after {
    content: ':';
    position: relative;
    top: -0.5px;
    margin: 0 8px 0 2px;
}

p {
    text-indent: 0;
}

.center {
    text-align: center;
}

.container {
    height: 100%;
    width: 100%;
    background-color: #eee;
    flex: 1;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    position: relative;
    max-width: 640px;
    margin: 0 auto;
}

.notice {
    text-align: left;
    flex: 1;
    overflow-y: scroll;
    padding: 0 15px 15px;
}

.title {
    text-align: center;
    margin-top: 0px;
    margin-bottom: 10px;
}

.introduce {
    margin-bottom: 10px;
}

.content {
    text-align: left;
}

.detail {
    text-indent: 2rem;
}

.signed {
    text-align: right;
    margin-top: 30px;
}

.footer {
    text-align: center;
    font-size: 14px;
    padding: 20px 10px;
    color: #7a7a7a;
}

.list-item {
    position: relative;
    padding-left: 10px;
    font-weight: 700;
    color: #434343;
    font-size: 16px;
    margin-top: 5px;
}

.list-item :first-child {
    margin-top: 20px;
}

.list-item::after {
    content: "";
    position: absolute;
    left: 0;
    top: 9px;
    display: block;
    width: 6px;
    height: 6px;
    background: #000;
    border-radius: 50%;
}

/* 遮罩 */
.layer {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    display: none;
    background: rgba(0, 0, 0, .5);
    transition: display 0.5s;
    z-index: 999;
}

.layer .callme-modal {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
    width: 90%;
    min-height: 300px;
    border-radius: 10px;
    padding: 15px 5px 15px 15px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    max-height: calc(100% - 40px);
}

.layer .modal-content {
    flex: 1;
    overflow-y: scroll;
    padding-right: 10px;
}

.callme-modal-close {
    position: absolute;
    top: 4px;
    right: 15px;
    font-size: 20px;
    color: #333;
}

.layer .callme-modal .header {
    text-align: center;
    font-size: 18px;
    font-weight: 700;
}

.layer .callme-modal form {
    width: 96%;
    margin: 20px auto 0;
}

.form-item {
    display: flex;
}

.form-label {
    width: 48px;
    text-align: justify;
    padding-top: 5px;
}

.form-input,
.form-textarea {
    flex: 1;
    outline: none;
    border-radius: 6px;
    padding: 2px 5px;
    border: 1px solid #ccc;
    font-size: 16px;
}


.form-textarea {
    resize: none;
}

.form-input {
    line-height: 26px;

}

.form-textarea {
    border: 1px solid #ccc;
    padding: 2px 5px;
    border-radius: 4px;
}

.buttons {
    text-align: center;
    margin: 30px 0 40px;
}

.form-button {
    border: 1px solid transparent;
    font-size: 16px;
    padding: 4px 20px;
    border-radius: 6px;
    margin-right: 15px;
    overflow: hidden;
    display: inline-block;
}

.form-button:last-child {
    margin-right: 0;
}

.form-button.primary {
    background: #1989fa;
    color: #fff;
}

.form-button.default {
    color: #1989fa;
    background: #fff;
    border: 1px solid #1989fa;
}

.callme-modal .qrcode-box {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.qrcode-box .qrcode img {
    /* pointer-events: none;*/
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.callme-modal .qrcode-title {
    margin-top: 15px;

}

.make-qrcode {
    text-align: right;
    height: 32px;
    line-height: 32px;
    padding: 0 10px;
}

.text-button {
    color: #1989fa;
    cursor: pointer;
}

.code-tip {
    display: none;
    margin: 5px 0 20px;
}