  * {
    margin: 0;
    padding: 0;
  }

  .ui-ta-c {
    text-align: center;
  }

  .ui-ta-l {
    text-align: left;
  }

  .ui-va-m {
    vertical-align: middle;
  }

  .ui-va-tt {
    vertical-align: text-top;
  }

  .ui-va-tb {
    vertical-align: text-bottom;
  }

  .ui-va-s {
    vertical-align: sub;
  }

  .ui-ta-r {
    text-align: right;
  }

  .ui-no-tap {
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  }

  .ui-fw-b {
    font-weight: 900;
  }

  .ui-fw-n {
    font-weight: 400;
  }

  .ui-d-b {
    display: block;
  }

  .ui-d-ib {
    display: inline-block;
  }

  .ui-d-n {
    display: none;
  }

  .ui-p-r {
    position: relative;
  }

  .ui-p-a {
    position: absolute;
  }

  .ui-p-f {
    position: fixed;
  }

  .ui-ov-h {
    overflow: hidden;
  }

  .ui-ovy-a {
    overflow-y: auto;
  }

  .ui-hover {
    opacity: 0.8;
  }

  .ui-hover:hover {
    opacity: 1;
  }

  .ui-vv {
    visibility: visible;
  }

  .ui-vh {
    visibility: hidden;
  }

  .ui-vw-100 {
    width: 100vw;
  }

  .ui-vh-100 {
    height: 100vh;
  }

  .ui-w-100 {
    width: 100%;
  }

  .ui-h-100 {
    height: 100%;
  }

  /* .ui-xx-xx */

  .flex {
    display: flex;
  }

  .flex-col {
    display: flex;
    flex-direction: column;
  }

  .just-start {
    justify-content: flex-start;
  }

  .just-center {
    justify-content: center;
  }

  .just-between {
    justify-content: space-between;
  }

  .just-around {
    justify-content: space-around;
  }

  .just-end {
    justify-content: flex-end;
  }

  .align-start {
    align-items: flex-start;
  }

  .align-center {
    align-items: center;
  }

  .align-end {
    align-items: flex-end;
  }

  .no-select {
    user-select: none;
  }

  .ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .word-nowrap {
    white-space: nowrap;
  }

  .cursor {
    cursor: pointer;
  }

  .scrollbar-hover {
    width: calc(100% - 3px);
    overflow: hidden;
  }

  .scrollbar-hover&:hover {
    width: 100%;
    overflow-y: auto;
  }